# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.vs/
TestResults/

# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# VSCode
.vscode/
.history/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
*.tsbuildinfo
